name: ostad CI/CD pipeline

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
jobs:
  set-up-nginx:
    runs-on: self-hosted

    steps: 
        - name: Install The nginx
          run: sudo apt install nginx -y


